@{
    ViewBag.Title = "PreCart";
}

<h2>Thank you for your purchase!</h2>

<center>
    <table class="table" border="1">
        <tr align="center">
            <td>
                <table border="1">
                    <tr>
                        <td></td>
                        <td>
                            <table border="1">
                                <tr>
                                    <td>
                                        "big long book title of books"
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        "author"
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        "price"
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        "quantity added""
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table border="1">
                    <tr align="center">
                        <td>
                            "subtotal: xx.xx"
                        </td>
                    </tr>
                    <tr>
                        <td>
                            "xx items in cart"
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="1">
                                <tr>
                                    <td>
                                        <button type="button" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Edit Cart</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" onclick="location.href='@Url.Action("BillingAndPaymentInfo", "Order")'">Continue to checkout</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</center>