@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@

<div class="page-header">
    <h1>About Us <small>we are so cool.</small></h1>
</div>

<div class="row">

    <div class="col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
            <img src="/Resources/lart.jpg" alt="John Doe" style="height:300px;">
        </a>
       @* <h4>John Doe</h4>*@

    </div>


    <div class="col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
            <img src="/Resources/bob_smith.jpg" alt="Bob Smith" style="height:300px;">
        </a>
       @* <h3>Bob Smith</h3>*@

    </div>


    <div class="col-md-4 col-lg-4">
        <a href="#" class="thumbnail">
            <img src="/Resources/jenny.jpg" alt="jenny">
        </a>
        @*<h4>Jenny</h4>*@

    </div>


</div>

<div class="row">

    <div class="col-md-4 col-lg-4">
       
        <h3>John Doe <small>Owner | Stakeholder</small></h3>
        <p> Bio: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">http://www.geocities.com/jlart</a></p>
           
           
           </div>


    <div class="col-md-4 col-lg-4">
        
        <h3>Bob Smith <small>Technical Advisor</small></h3>
        <p>Master of Software Engineering ** Member, Institute of Electrical and Electronics Engineers (IEEE) ** Member, Association for Computing Machinery (ACM) ** Member, IEEE Computer Society</p>

    </div>


    <div class="col-md-4 col-lg-4">
        
        <h3>Jenny <small>Intern</small></h3>
        <p>Contact: 867 5309</p>

    </div>


</div>