@{
    //ViewBag.Title = "BOOKSTORE";
}



<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>@ViewBag.Title</h2>
        <form action="/Search/" method="post">
            <div class="input-group home_search">
                <input type="text" class="form-control" name="criteria" value="" placeholder="Title, Author, ISBN" required="required" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>



        </form>
    </div>
</div>