@{
    //ViewBag.Title = "BOOKSTORE";
}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>@ViewBag.Title</h2>
            <form action="/Search/" method="post" class="home_search">
                <div class="input-group">
                    <input type="text" class="form-control" name="criteria" value="" placeholder="Title, Author, ISBN" required="required" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>

                <div class="input-group">

                    @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">*@
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Advance
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <p>Course Criteria</p>
                                                <div class="input-group">
                                                    <label for="CRN">CRN</label>
                                                    <input type="text" name="CRN" id="inputCRN" class="form-control" value="" required="required" pattern="" title="">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <p>Book Criteria</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    @*</div>*@





                </div>

            </form>
        </div>
    </div>

</div>